In [2]:
from src.utils import (load_data, split_input_output, 
                        split_train_test, serialize_data, 
                        deserialize_data)

In [4]:
FNAME = 'data/raw/credit_risk_dataset.csv'
data = load_data(FNAME)
data.head()

Data Shape: (32581, 12)

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4

In [5]:
TARGET_COL = 'loan_status'
X, y = split_input_output(data, TARGET_COL)

ORIGINAL Data Shape: (32581, 12)
X Data Shape: (32581, 11)
Y Data Shape: (32581, 1)

In [6]:
test_size = 0.2
random_state = 42
X_train, X_non_train, y_train, y_non_train = split_train_test(X, y, test_size, random_state=random_state)


test_size = 0.5
random_state = 42
X_valid ,X_test, y_valid, y_test = split_train_test(X_non_train, y_non_train, test_size, random_state=random_state)

X train shape: (26064, 11)
X test shape: (6517, 11)
y train shape: (26064, 1)
y test shape: (6517, 1)
X train shape: (3258, 11)
X test shape: (3259, 11)
y train shape: (3258, 1)
y test shape: (3259, 1)

In [7]:
serialize_data(X_train, "X_train.pkl")
serialize_data(y_train, "y_train.pkl")
serialize_data(X_test, "x_test.pkl")
serialize_data(y_test, "y_test.pkl")
serialize_data(X_valid, "x_valid.pkl")
serialize_data(y_valid, "y_valid.pkl")